.search-results .hero .section-subheading h3,
.search-no-results .hero .section-subheading h3 {
  font-family: "palanquin", Helvetica, sans-serif;
  font-weight: 400; }

.tribe-theme-betania h2.tribe-events-page-title, .tribe-theme-betania .tribe-events-list .tribe-events-list-separator-month span .month-name,
.tribe-theme-betania .tribe-events-list .tribe-events-list-separator-month span .year {
  font-family: "freight-display-pro", "Times New Roman", Serif;
  font-weight: 600; }

.noWrap {
  white-space: nowrap; }

#fancyWrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.search-results .hero .section-heading h1,
.search-no-results .hero .section-heading h1 {
  text-indent: -26px; }
.search-results .hero .section-subheading h3,
.search-no-results .hero .section-subheading h3 {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0; }
.search-results .container.isContentArea .section-heading, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header .section-heading, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header .section-heading,
.search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header .section-heading,
.tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header .section-heading, .search-results .tribe-theme-betania .isContentArea.tribe-events-list .section-heading, .tribe-theme-betania .search-results .isContentArea.tribe-events-list .section-heading, .search-results .tribe-theme-betania .isContentArea#tribe-events-content .section-heading, .tribe-theme-betania .search-results .isContentArea#tribe-events-content .section-heading,
.search-no-results .container.isContentArea .section-heading,
.search-no-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header .section-heading,
.tribe-theme-betania .tribe-events-month .search-no-results .isContentArea#tribe-events-header .section-heading,
.search-no-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header .section-heading,
.tribe-theme-betania .tribe-events-week-grid .search-no-results .isContentArea#tribe-events-header .section-heading,
.search-no-results .tribe-theme-betania .isContentArea.tribe-events-list .section-heading,
.tribe-theme-betania .search-no-results .isContentArea.tribe-events-list .section-heading,
.search-no-results .tribe-theme-betania .isContentArea#tribe-events-content .section-heading,
.tribe-theme-betania .search-no-results .isContentArea#tribe-events-content .section-heading {
  margin-bottom: 7%; }
.search-results .container.isContentArea article h2, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article h2, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article h2,
.search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article h2,
.tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article h2, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article h2, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article h2, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article h2, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article h2,
.search-no-results .container.isContentArea article h2,
.search-no-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article h2,
.tribe-theme-betania .tribe-events-month .search-no-results .isContentArea#tribe-events-header article h2,
.search-no-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article h2,
.tribe-theme-betania .tribe-events-week-grid .search-no-results .isContentArea#tribe-events-header article h2,
.search-no-results .tribe-theme-betania .isContentArea.tribe-events-list article h2,
.tribe-theme-betania .search-no-results .isContentArea.tribe-events-list article h2,
.search-no-results .tribe-theme-betania .isContentArea#tribe-events-content article h2,
.tribe-theme-betania .search-no-results .isContentArea#tribe-events-content article h2 {
  margin: 0 0 14px; }
  .search-results .container.isContentArea article h2 a, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article h2 a, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article h2 a,
  .search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article h2 a,
  .tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article h2 a, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article h2 a, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article h2 a, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article h2 a, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article h2 a,
  .search-no-results .container.isContentArea article h2 a,
  .search-no-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article h2 a,
  .tribe-theme-betania .tribe-events-month .search-no-results .isContentArea#tribe-events-header article h2 a,
  .search-no-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article h2 a,
  .tribe-theme-betania .tribe-events-week-grid .search-no-results .isContentArea#tribe-events-header article h2 a,
  .search-no-results .tribe-theme-betania .isContentArea.tribe-events-list article h2 a,
  .tribe-theme-betania .search-no-results .isContentArea.tribe-events-list article h2 a,
  .search-no-results .tribe-theme-betania .isContentArea#tribe-events-content article h2 a,
  .tribe-theme-betania .search-no-results .isContentArea#tribe-events-content article h2 a {
    color: #292728;
    border: 0; }
    .search-results .container.isContentArea article h2 a:hover, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article h2 a:hover, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article h2 a:hover,
    .search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article h2 a:hover,
    .tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article h2 a:hover, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article h2 a:hover, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article h2 a:hover, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article h2 a:hover, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article h2 a:hover,
    .search-no-results .container.isContentArea article h2 a:hover,
    .search-no-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article h2 a:hover,
    .tribe-theme-betania .tribe-events-month .search-no-results .isContentArea#tribe-events-header article h2 a:hover,
    .search-no-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article h2 a:hover,
    .tribe-theme-betania .tribe-events-week-grid .search-no-results .isContentArea#tribe-events-header article h2 a:hover,
    .search-no-results .tribe-theme-betania .isContentArea.tribe-events-list article h2 a:hover,
    .tribe-theme-betania .search-no-results .isContentArea.tribe-events-list article h2 a:hover,
    .search-no-results .tribe-theme-betania .isContentArea#tribe-events-content article h2 a:hover,
    .tribe-theme-betania .search-no-results .isContentArea#tribe-events-content article h2 a:hover {
      color: #0C7883; }
.search-results .container.isContentArea article p, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article p, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article p,
.search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article p,
.tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article p, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article p, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article p, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article p, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article p,
.search-no-results .container.isContentArea article p,
.search-no-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article p,
.tribe-theme-betania .tribe-events-month .search-no-results .isContentArea#tribe-events-header article p,
.search-no-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article p,
.tribe-theme-betania .tribe-events-week-grid .search-no-results .isContentArea#tribe-events-header article p,
.search-no-results .tribe-theme-betania .isContentArea.tribe-events-list article p,
.tribe-theme-betania .search-no-results .isContentArea.tribe-events-list article p,
.search-no-results .tribe-theme-betania .isContentArea#tribe-events-content article p,
.tribe-theme-betania .search-no-results .isContentArea#tribe-events-content article p {
  margin-bottom: 16px; }
.search-results .container.isContentArea article .excerpt-btn, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article .excerpt-btn, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article .excerpt-btn,
.search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article .excerpt-btn,
.tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article .excerpt-btn, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article .excerpt-btn, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article .excerpt-btn, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article .excerpt-btn, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article .excerpt-btn,
.search-no-results .container.isContentArea article .excerpt-btn,
.search-no-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article .excerpt-btn,
.tribe-theme-betania .tribe-events-month .search-no-results .isContentArea#tribe-events-header article .excerpt-btn,
.search-no-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article .excerpt-btn,
.tribe-theme-betania .tribe-events-week-grid .search-no-results .isContentArea#tribe-events-header article .excerpt-btn,
.search-no-results .tribe-theme-betania .isContentArea.tribe-events-list article .excerpt-btn,
.tribe-theme-betania .search-no-results .isContentArea.tribe-events-list article .excerpt-btn,
.search-no-results .tribe-theme-betania .isContentArea#tribe-events-content article .excerpt-btn,
.tribe-theme-betania .search-no-results .isContentArea#tribe-events-content article .excerpt-btn {
  display: none; }
.search-results .container.isContentArea article hr, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article hr, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article hr,
.search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article hr,
.tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article hr, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article hr, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article hr, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article hr, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article hr,
.search-no-results .container.isContentArea article hr,
.search-no-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article hr,
.tribe-theme-betania .tribe-events-month .search-no-results .isContentArea#tribe-events-header article hr,
.search-no-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article hr,
.tribe-theme-betania .tribe-events-week-grid .search-no-results .isContentArea#tribe-events-header article hr,
.search-no-results .tribe-theme-betania .isContentArea.tribe-events-list article hr,
.tribe-theme-betania .search-no-results .isContentArea.tribe-events-list article hr,
.search-no-results .tribe-theme-betania .isContentArea#tribe-events-content article hr,
.tribe-theme-betania .search-no-results .isContentArea#tribe-events-content article hr {
  margin-left: 0;
  margin-right: 0; }
.search-results .container.isContentArea article:last-child hr, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article:last-child hr, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article:last-child hr,
.search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article:last-child hr,
.tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article:last-child hr, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article:last-child hr, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article:last-child hr, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article:last-child hr, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article:last-child hr,
.search-no-results .container.isContentArea article:last-child hr,
.search-no-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article:last-child hr,
.tribe-theme-betania .tribe-events-month .search-no-results .isContentArea#tribe-events-header article:last-child hr,
.search-no-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article:last-child hr,
.tribe-theme-betania .tribe-events-week-grid .search-no-results .isContentArea#tribe-events-header article:last-child hr,
.search-no-results .tribe-theme-betania .isContentArea.tribe-events-list article:last-child hr,
.tribe-theme-betania .search-no-results .isContentArea.tribe-events-list article:last-child hr,
.search-no-results .tribe-theme-betania .isContentArea#tribe-events-content article:last-child hr,
.tribe-theme-betania .search-no-results .isContentArea#tribe-events-content article:last-child hr {
  display: none; }
.search-results .site-frame .frame-bottom,
.search-no-results .site-frame .frame-bottom {
  display: none; }

  @font-face {
    font-family: palanquin;
    src: url(palanquin-regular.ttf);
  }
  
@media only screen and (max-width: 1280px) {
  .search-results .hero .section-heading h1 {
    text-indent: -23px; }
  .search-results .hero .section-subheading h3 {
    font-size: 17px;
    line-height: 20px; } }
@media only screen and (max-width: 1140px) {
  .search-results .hero .section-heading h1 {
    text-indent: -22px; }
  .search-results .hero .section-subheading h3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px; } }
@media only screen and (max-width: 1024px) {
  .search-results .hero .section-heading h1 {
    text-indent: -17px; } }
@media only screen and (max-width: 900px) {
  .search-results .hero .section-heading h1 {
    text-indent: -16px; } }
@media only screen and (max-width: 768px) {
  .search-results .hero .section-heading h1 {
    text-indent: 0; }
  .search-results .hero .section-subheading h3 {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2px; } }
@media only screen and (max-width: 680px) {
  .search-results .hero .section-subheading h3 {
    font-size: 17px;
    line-height: 20px; } }
@media only screen and (max-width: 580px) {
  .search-results .hero .section-subheading h3 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px; } }
@media only screen and (max-width: 540px) {
  .search-results .container.isContentArea article h2, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article h2, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article h2,
  .search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article h2,
  .tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article h2, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article h2, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article h2, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article h2, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article h2 {
    font-size: 26px;
    line-height: 30px; } }
@media only screen and (max-width: 400px) {
  .search-results .hero .section-subheading h3 {
    font-size: 15px;
    line-height: 19px; }
  .search-results .container.isContentArea article h2, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article h2, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article h2,
  .search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article h2,
  .tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article h2, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article h2, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article h2, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article h2, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article h2 {
    font-size: 22px;
    line-height: 26px; }
  .search-results .container.isContentArea article p, .search-results .tribe-theme-betania .tribe-events-month .isContentArea#tribe-events-header article p, .tribe-theme-betania .tribe-events-month .search-results .isContentArea#tribe-events-header article p,
  .search-results .tribe-theme-betania .tribe-events-week-grid .isContentArea#tribe-events-header article p,
  .tribe-theme-betania .tribe-events-week-grid .search-results .isContentArea#tribe-events-header article p, .search-results .tribe-theme-betania .isContentArea.tribe-events-list article p, .tribe-theme-betania .search-results .isContentArea.tribe-events-list article p, .search-results .tribe-theme-betania .isContentArea#tribe-events-content article p, .tribe-theme-betania .search-results .isContentArea#tribe-events-content article p {
    font-size: 15px;
    line-height: 25px; } }
.wrapper, .container, .tribe-theme-betania .tribe-events-month #tribe-events-header,
.tribe-theme-betania .tribe-events-week-grid #tribe-events-header, .tribe-theme-betania .tribe-events-list, .tribe-theme-betania.tribe-filters-closed #tribe-events-content, .tribe-theme-betania.tribe-filters-open #tribe-events-content, .tribe-theme-betania #tribe-events-content, #fancyWrap, .tribe-theme-betania .tribe-events-loop, .tribe-theme-betania .tribe-events-list .type-tribe_events {
  *zoom: 1; }
  .wrapper:before, .container:before, .tribe-theme-betania .tribe-events-month #tribe-events-header:before,
  .tribe-theme-betania .tribe-events-week-grid #tribe-events-header:before, .tribe-theme-betania .tribe-events-list:before, .tribe-theme-betania.tribe-filters-closed #tribe-events-content:before, .tribe-theme-betania.tribe-filters-open #tribe-events-content:before, .tribe-theme-betania #tribe-events-content:before, #fancyWrap:before, .tribe-theme-betania .tribe-events-loop:before, .tribe-theme-betania .tribe-events-list .type-tribe_events:before, .wrapper:after, .container:after, .tribe-theme-betania .tribe-events-month #tribe-events-header:after,
  .tribe-theme-betania .tribe-events-week-grid #tribe-events-header:after, .tribe-theme-betania .tribe-events-list:after, .tribe-theme-betania.tribe-filters-closed #tribe-events-content:after, .tribe-theme-betania.tribe-filters-open #tribe-events-content:after, .tribe-theme-betania #tribe-events-content:after, #fancyWrap:after, .tribe-theme-betania .tribe-events-loop:after, .tribe-theme-betania .tribe-events-list .type-tribe_events:after {
    content: " ";
    display: table; }
  .wrapper:after, .container:after, .tribe-theme-betania .tribe-events-month #tribe-events-header:after,
  .tribe-theme-betania .tribe-events-week-grid #tribe-events-header:after, .tribe-theme-betania .tribe-events-list:after, .tribe-theme-betania.tribe-filters-closed #tribe-events-content:after, .tribe-theme-betania.tribe-filters-open #tribe-events-content:after, .tribe-theme-betania #tribe-events-content:after, #fancyWrap:after, .tribe-theme-betania .tribe-events-loop:after, .tribe-theme-betania .tribe-events-list .type-tribe_events:after {
    clear: both; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  font-family: "palanquin", Helvetica, sans-serif;
  background: #fff;
  color: #292728;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none !important;
  position: relative; }
  body.contactHovered, body.eventsHovered, body.modalOpen, body.searchOpen, body.shareOpen, body.noScroll {
    overflow: hidden !important; }

a, .tribe-theme-betania #tribe-bar-form input[type=text], .tribe-theme-betania #tribe-bar-form .tribe-bar-submit input[type=submit], .tribe-theme-betania #tribe_events_filters_wrapper.tribe-events-filters-horizontal input[type=submit] {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  color: #0C7883;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:hover {
  color: #292728; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

input:focus {
  outline: 0;
  border: 1px solid #0C7883; }

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

.container, .tribe-theme-betania .tribe-events-month #tribe-events-header,
.tribe-theme-betania .tribe-events-week-grid #tribe-events-header, .tribe-theme-betania .tribe-events-list, .tribe-theme-betania.tribe-filters-closed #tribe-events-content, .tribe-theme-betania.tribe-filters-open #tribe-events-content, .tribe-theme-betania #tribe-events-content {
  max-width: 1280px;
  width: 86%;
  margin: 0 auto;
  position: relative; }
  .container.narrowContent, .tribe-theme-betania .tribe-events-month .narrowContent#tribe-events-header,
  .tribe-theme-betania .tribe-events-week-grid .narrowContent#tribe-events-header, .tribe-theme-betania .narrowContent.tribe-events-list, .tribe-theme-betania .narrowContent#tribe-events-content {
    max-width: 800px; }
  .container.narrowContentSm, .tribe-theme-betania .tribe-events-month .narrowContentSm#tribe-events-header,
  .tribe-theme-betania .tribe-events-week-grid .narrowContentSm#tribe-events-header, .tribe-theme-betania .narrowContentSm.tribe-events-list, .tribe-theme-betania .narrowContentSm#tribe-events-content {
    max-width: 545px; }
  .container.narrowContentMd, .tribe-theme-betania .tribe-events-month .narrowContentMd#tribe-events-header,
  .tribe-theme-betania .tribe-events-week-grid .narrowContentMd#tribe-events-header, .tribe-theme-betania .narrowContentMd.tribe-events-list, .tribe-theme-betania .narrowContentMd#tribe-events-content {
    max-width: 650px; }
  .container.narrowContentLg, .tribe-theme-betania .tribe-events-month .narrowContentLg#tribe-events-header,
  .tribe-theme-betania .tribe-events-week-grid .narrowContentLg#tribe-events-header, .tribe-theme-betania .narrowContentLg.tribe-events-list, .tribe-theme-betania .narrowContentLg#tribe-events-content {
    max-width: 950px; }

.col {
  margin-top: 0;
  margin-bottom: 0; }

.bx-wrapper {
  margin-bottom: 0; }

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
  background: transparent;
  margin: 0 !important; }

.bx-viewport li {
  min-height: 1px;
  min-width: 1px; }

.fancy-positioner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  height: 0;
  -webkit-transition: z-index 0.8s step-end, height 1.2s cubic-bezier(0.666, 0, 0.333, 1);
  transition: z-index 0.8s step-end, height 1.2s cubic-bezier(0.666, 0, 0.333, 1); }
  .fancy-positioner.isOpen {
    z-index: 999;
    height: 100%;
    -webkit-transition: z-index 0.6s step-start, height 0.1s cubic-bezier(0.666, 0, 0.333, 1);
    transition: z-index 0.6s step-start, height 0.1s cubic-bezier(0.666, 0, 0.333, 1); }

#fancyWrap {
  background-color: rgba(255, 255, 255, 0.97);
  display: block;
  position: fixed;
  z-index: -1;
  top: 0vh !important;
  left: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: z-index 0.2s, step-end 0.3s, opacity 0.2s linear;
  transition: z-index 0.2s, step-end 0.3s, opacity 0.2s linear; }
  #fancyWrap.isOpen {
    z-index: 98;
    opacity: 1;
    -webkit-transition: z-index 0.3s, step-start, opacity 0.3s linear;
    transition: z-index 0.3s, step-start, opacity 0.3s linear; }
  #fancyWrap .close-btn {
    z-index: 9999;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -18px; }
  #fancyWrap .fancybox-item.fancybox-close {
    display: none; }

.fancybox-wrap {
  position: absolute !important;
  outline: none; }

.fancybox-overlay,
#fancybox-loading {
  background-color: transparent !important;
  position: absolute !important; }

#fancybox-loading {
  display: none !important; }

.fancybox-close {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  background: transparent; }

.fancybox-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  background-image: none; }

.fancybox-skin {
  position: relative;
  background: transparent;
  color: #444;
  text-shadow: none; }

.fancybox-opened .fancybox-skin {
  box-shadow: none; }

.fancybox-mobile {
  top: 80px !important; }

.tribe-theme-betania .site-frame .frame-bottom {
  display: none; }
.tribe-theme-betania .events-header {
  padding-left: 5%; }
  .tribe-theme-betania .events-header h3 {
    padding: 20px 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px; }
.tribe-theme-betania #tribe-events-bar {
  margin-bottom: 0; }
.tribe-theme-betania #tribe-bar-form {
  background-color: #EED0B5; }
  .tribe-theme-betania #tribe-bar-form input[type=text] {
    border: none;
    border-bottom: 1px solid #d6b597;
    outline: none; }
    .tribe-theme-betania #tribe-bar-form input[type=text]:focus {
      border-color: #0C7883; }
  .tribe-theme-betania #tribe-bar-form .tribe-bar-submit input[type=submit] {
    background-color: transparent;
    color: #0C7883;
    border: 1px solid #0C7883;
    margin-top: 4px; }
    .tribe-theme-betania #tribe-bar-form .tribe-bar-submit input[type=submit]:hover {
      color: #B6E0D8;
      background-color: #0C7883; }
.tribe-theme-betania #tribe-bar-views .tribe-bar-views-inner {
  background-color: #B6E0D8; }
.tribe-theme-betania #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background-color: #B6E0D8; }
  .tribe-theme-betania #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
    background-color: #92c0b7; }
.tribe-theme-betania #tribe_events_filters_wrapper.tribe-events-filters-horizontal {
  margin-top: 0 !important;
  background-color: #F6F6F6; }
  .tribe-theme-betania #tribe_events_filters_wrapper.tribe-events-filters-horizontal .tribe_events_filters_show_filters {
    font-size: 14px; }
  .tribe-theme-betania #tribe_events_filters_wrapper.tribe-events-filters-horizontal input[type=submit] {
    background-color: transparent;
    border-radius: 0;
    color: #0C7883 !important;
    border: 1px solid #0C7883;
    margin-top: 4px; }
    .tribe-theme-betania #tribe_events_filters_wrapper.tribe-events-filters-horizontal input[type=submit]:hover {
      color: #B6E0D8 !important;
      background-color: #0C7883; }
.tribe-theme-betania .below-header {
  border: 1px solid #292728;
  border-top: 0; }
.tribe-theme-betania h2.tribe-events-page-title {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 5%; }
.tribe-theme-betania #tribe-events-pg-template {
  margin: 0 auto;
  max-width: 100%; }
.tribe-theme-betania #tribe-events-header {
  margin-bottom: 3%; }
  .tribe-theme-betania #tribe-events-header .tribe-events-sub-nav {
    font-size: 16px; }
.tribe-theme-betania .tribe-events-user-recurrence-toggle {
  font-size: 12px;
  font-style: normal; }
.tribe-theme-betania .tribe-events-month #tribe-events-header,
.tribe-theme-betania .tribe-events-week-grid #tribe-events-header {
  margin-bottom: 3%; }
.tribe-theme-betania .tribe-events-loop .tribe-events-event-meta {
  margin-bottom: 0; }
.tribe-theme-betania #tribe-events-footer {
  margin-top: 3%;
  margin-bottom: 3%; }
  .tribe-theme-betania #tribe-events-footer .tribe-events-sub-nav {
    font-size: 16px; }
.tribe-theme-betania .tribe-events-list .tribe-events-list-separator-month {
  background-color: transparent;
  vertical-align: top;
  border-top: 1px solid #292728;
  display: block;
  padding: 0;
  margin-top: 0;
  width: 100%;
  float: left;
  position: relative;
  margin-top: -1px;
  visibility: hidden; }
  .tribe-theme-betania .tribe-events-list .tribe-events-list-separator-month span {
    position: absolute;
    left: 0;
    display: block;
    width: 180px;
    display: inline-block;
    word-spacing: 180px;
    margin-top: 3%; }
    .tribe-theme-betania .tribe-events-list .tribe-events-list-separator-month span .month-name,
    .tribe-theme-betania .tribe-events-list .tribe-events-list-separator-month span .year {
      display: block;
      text-align: center; }
    .tribe-theme-betania .tribe-events-list .tribe-events-list-separator-month span .month-name {
      font-size: 40px;
      line-height: 44px; }
    .tribe-theme-betania .tribe-events-list .tribe-events-list-separator-month span .year {
      font-size: 24px;
      line-height: 28px;
      @inlude letSpc(2px); }
.tribe-theme-betania .tribe-events-list .type-tribe_events {
  width: calc(100% - 200px);
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 2.5% 0;
  border-bottom: 1px solid #292728; }
.tribe-theme-betania .tribe-events-list.tribe-events-day .type-tribe_events {
  float: none;
  width: 100%; }
.tribe-theme-betania .tribe-events-list.tribe-events-day .tribe-events-event-meta {
  margin-bottom: 20px; }
.tribe-theme-betania .tribe-events-list.tribe-events-day #tribe-events-day .tribe-events-content {
  display: block;
  float: none;
  padding: 0;
  width: 100%; }
.tribe-theme-betania .tribe-events-single#tribe-events-content {
  padding: 7%; }
  .tribe-theme-betania .tribe-events-single#tribe-events-content .tribe-events-single-event-description a {
    text-decoration: underline; }
.tribe-theme-betania .tribe-events-single #tribe-events-footer {
  min-width: 100%; }
.tribe-theme-betania .tribe-events-venue .tribe-events-back,
.tribe-theme-betania .tribe-events-organizer .tribe-events-back {
  padding-top: 5%;
  padding-left: 7%; }
.tribe-theme-betania .tribe-events-venue .tribe-events-venue-meta,
.tribe-theme-betania .tribe-events-venue .tribe-events-organizer-meta,
.tribe-theme-betania .tribe-events-organizer .tribe-events-venue-meta,
.tribe-theme-betania .tribe-events-organizer .tribe-events-organizer-meta {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 40px 7% 2%; }
  .tribe-theme-betania .tribe-events-venue .tribe-events-venue-meta h2.tribe-venue-name,
  .tribe-theme-betania .tribe-events-venue .tribe-events-organizer-meta h2.tribe-venue-name,
  .tribe-theme-betania .tribe-events-organizer .tribe-events-venue-meta h2.tribe-venue-name,
  .tribe-theme-betania .tribe-events-organizer .tribe-events-organizer-meta h2.tribe-venue-name {
    display: inline-block; }
.tribe-theme-betania .tribe-events-venue .tribe-events-list,
.tribe-theme-betania .tribe-events-organizer .tribe-events-list {
  margin-top: 7% !important; }

.tribe-theme-betania.tribe-events-uses-geolocation .tribe-bar-geoloc-filter, .tribe-theme-betania.tribe-events-uses-geolocation .tribe-bar-date-filter, .tribe-theme-betania.tribe-events-uses-geolocation .tribe-bar-search-filter, .tribe-theme-betania.tribe-events-uses-geolocation .tribe-bar-submit {
  padding: 13px; }

.tribe-theme-betania.single-tribe_events .tribe-events-schedule h2 {
  display: inline; }
.tribe-theme-betania.single-tribe_events .tribe-events-schedule .recurringinfo {
  font-size: inherit; }
.tribe-theme-betania.single-tribe_events .tribe-events-schedule {
  margin-bottom: 30px; }
.tribe-theme-betania.single-tribe_events #tribe-events-header {
  display: none; }
.tribe-theme-betania.single-tribe_events .tribe-events-event-meta {
  font-size: inherit; }
.tribe-theme-betania .recurringinfo {
  font-size: inherit;
  vertical-align: baseline;
  margin-left: 4px; }
  .tribe-theme-betania .recurringinfo .tribe-events-divider {
    margin-right: 4px; }

@media only screen and (max-width: 1280px) {
  .tribe-theme-betania .tribe-events-single#tribe-events-content {
    padding: 7% 0; } }
@media only screen and (max-width: 1140px) {
  .tribe-theme-betania h2.tribe-events-page-title {
    font-size: 36px;
    line-height: 40px; } }
@media only screen and (max-width: 960px) {
  .tribe-theme-betania .below-header {
    border: 0; }
  .tribe-theme-betania.tribe-events-uses-geolocation .tribe-bar-mini .tribe-bar-geoloc-filter, .tribe-theme-betania.tribe-events-uses-geolocation .tribe-bar-mini .tribe-bar-date-filter, .tribe-theme-betania.tribe-events-uses-geolocation .tribe-bar-mini .tribe-bar-search-filter, .tribe-theme-betania.tribe-events-uses-geolocation .tribe-bar-mini .tribe-bar-submit {
    padding: 7px; }
  .tribe-theme-betania #tribe-bar-collapse-toggle {
    background-color: #EED0B5; }
  .tribe-theme-betania h2.tribe-events-page-title {
    font-size: 32px;
    line-height: 36px; }
  .tribe-theme-betania .tribe-events-single#tribe-events-content {
    padding: 7% 0; } }
@media only screen and (max-width: 768px) {
  .tribe-theme-betania .tribe-events-month #tribe-events-header,
  .tribe-theme-betania .tribe-events-week-grid #tribe-events-header {
    min-width: 100%;
    margin-bottom: 3%; }
  .tribe-theme-betania .tribe-events-month,
  .tribe-theme-betania .tribe-events-week-grid {
    max-width: 95% !important; }
  .tribe-theme-betania #tribe-events-footer {
    min-width: 100%;
    margin-top: 3%;
    margin-bottom: 3%; }
  .tribe-theme-betania #tribe-events-pg-template {
    padding: 0; }
    .tribe-theme-betania #tribe-events-pg-template .tribe-events-list {
      width: 95% !important;
      margin-left: 2.5% !important;
      margin-right: 2.5% !important; }
      .tribe-theme-betania #tribe-events-pg-template .tribe-events-list .type-tribe_events {
        padding: 4% 0; }
      .tribe-theme-betania #tribe-events-pg-template .tribe-events-list .tribe-events-list-separator-month {
        float: none;
        margin: 20px 0; }
        .tribe-theme-betania #tribe-events-pg-template .tribe-events-list .tribe-events-list-separator-month span {
          position: static;
          width: 100%;
          display: block; }
      .tribe-theme-betania #tribe-events-pg-template .tribe-events-list .type-tribe_events {
        width: 100%;
        display: block;
        float: none; }
      .tribe-theme-betania #tribe-events-pg-template .tribe-events-list .tribe-event-schedule-details {
        padding: 0 12px; }
  .tribe-theme-betania #tribe_events_filter_control #tribe_events_filters_toggle {
    color: #0C7883;
    background-color: transparent; }
  .tribe-theme-betania #tribe_events_filter_control a {
    border: 0;
    height: inherit;
    padding: 5px 5px !important; }
  .tribe-theme-betania #tribe_events_filter_control a + a {
    margin: 0; }
  .tribe-theme-betania #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous a,
  .tribe-theme-betania #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a,
  .tribe-theme-betania #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous a,
  .tribe-theme-betania #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a {
    display: inline-block;
    background-color: transparent !important;
    color: #0C7883;
    border: none; }
    .tribe-theme-betania #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous a:hover,
    .tribe-theme-betania #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a:hover,
    .tribe-theme-betania #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous a:hover,
    .tribe-theme-betania #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a:hover {
      opacity: 1;
      color: #292728;
      background-color: transparent !important; }
  .tribe-theme-betania #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a,
  .tribe-theme-betania #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a {
    padding-right: 24px;
    padding-left: 0; }
  .tribe-theme-betania #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-previous a,
  .tribe-theme-betania #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous a {
    padding-left: 24px;
    padding-right: 0; }
  .tribe-theme-betania .tribe-events-venue .tribe-events-back,
  .tribe-theme-betania .tribe-events-organizer .tribe-events-back {
    padding-left: 2.5%; }
  .tribe-theme-betania .tribe-events-venue .tribe-events-venue-meta,
  .tribe-theme-betania .tribe-events-venue .tribe-events-organizer-meta,
  .tribe-theme-betania .tribe-events-organizer .tribe-events-venue-meta,
  .tribe-theme-betania .tribe-events-organizer .tribe-events-organizer-meta {
    padding: 40px 2.5% 2%; }
  .tribe-theme-betania.single-tribe_events .tribe-events-single-event-title {
    font-size: 1.5em;
    line-height: 1.3em; }
  .tribe-theme-betania.tribe-filters-closed #tribe-events-content, .tribe-theme-betania.tribe-filters-open #tribe-events-content,
  .tribe-theme-betania #tribe-events-content {
    width: 95%; } }
@media only screen and (max-width: 580px) {
  .tribe-theme-betania h2.tribe-events-page-title {
    font-size: 28px;
    line-height: 32px; }
  .tribe-theme-betania .tribe-events-list h2.tribe-events-list-event-title {
    font-size: 1.2em;
    line-height: 1.2em; }
  .tribe-theme-betania.single-tribe_events .tribe-events-single-event-title {
    font-size: 1.3em;
    line-height: 1.1em; } }
@media only screen and (max-width: 400px) {
  .tribe-theme-betania #tribe-events-pg-template .tribe-events-list .type-tribe_events {
    padding: 7% 0; }
  .tribe-theme-betania #tribe-events-pg-template .tribe-events-list h2.tribe-events-list-event-title {
    font-size: 1.1em;
    line-height: 1.1em; }
  .tribe-theme-betania.single-tribe_events .tribe-events-single-event-title {
    font-size: 1.15em;
    line-height: 1.2em; } }

/*# sourceMappingURL=tribe-events.css.map */